/*CSS DOCUMENT*/

table.table_main,
th,
td{
    border: 1px solid #000;
}
table.table_main{
    border-collapse: collapse;
}
table.table_main tr td{
    height: 50px;
    vertical-align: bottom;
}
table.table_main tr :hover{
    background: rgb(224, 169, 169);
}
table.table_main tr :nth-child(even) /*even-четные odd-нечетные*/{
    background: rgb(122, 184, 212);
}