/* animation-name: test-animation; - имя анимации */
/* animation-duration:2s; - скорость анимации*/
/*animation-delay:5s; - перед запуском пройдет 5 секунд*/
/*animation-iteration-count: 3; -  анимация воспроизведется 3 раза*/
/*animation-iteration-count: infinite; -  анимация воспроизведется без остановки(вечно)*/
/*animation-direction: normal; -  анимация воспроизведется в прямом порядке как обычно */
/*animation-diraction: reverse; - анимация воспроизведется в обратном порядке от "to" до "from" */
/*animation-diraction: alternate- четные повторы анимации воспроизведется в обратном порядке, нечетные*/
/*animation-diraction: alternate-reverse - нечетные повторы анимации воспроизведется в обратном порядке, четные */
/*animation-timing-function: steps(7, end): - шаги анимации */


.square{
    width: 50px;
    height: 50px;
    background: #cc89c9;
    position: relative;
    animation-name: square;
    animation-duration:5s;
    animation-iteration-count: 3;
}
@keyframes square{
    from{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 400px;
    }
    50%{
        top: 400px;
        left: 400px;
        background: #89ccb2;
    }
    75%{
        top: 400px;
        left: 0;
        background: #8995cc;

    }
    to{
        top: 0;

    }
}