.sprite-hover{
    width: 123px;
    height: 273px;
    background-image: url(../img/spritesheet.png);
    overflow: hidden;
   
}
.sprite-hover:hover{
    width: 123px;
    height: 273px;
    background-position: -123px 0;
}
